@{
    ViewBag.Title = "About";
}
<h2>Application Developed By:</h2>

<div class="row">
    <div class="col-md-3">
        <h4>Smit Nirmal</h4>
        <p>
            105149189
        </p>
    </div>
    <div class="col-md-3">
        <h4>Sagar Jogadia</h4>
        <p>
            105146603
        </p>
    </div>
    <div class="col-md-3">
        <h4>Vignesh Patel</h4>
        <p>
            105144432
        </p>
    </div>
    <div class="col-md-3">
        <h4>Prachi Solanki</h4>
        <p>
            105064433
        </p>
    </div>
</div>